.book-menu-container { 
    padding: "20px";
    font-family: "Arial, sans-serif";
    display : flex;
    align-items: flex-start;
}

.book-menu-container div {
    flex: 1;   
}

.book-menu-lists {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.book-menu-lists ul li:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.book-menu-lists ul li.selected {
    font-weight: bold;
    background-color: aquamarine;
}