.menu {
    padding: "20px";
    border-bottom: 1px solid whitesmoke;
    align-items: center;
}

.menu-container {
    padding: 0 20px;
    display : flex;
    align-items: center;
}

/**
 * Menu Items
 */
.menu-item button, .menu-item input, .menu-item select {
    box-sizing: border-box;
    height: 30px;
    padding: 0 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.submenu-book-select-container {
    background-color: bisque;
}

.book-menu-lists {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.book-menu-lists ul li:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.book-menu-lists ul li.selected {
    font-weight: bold;
    background-color: aquamarine;
}

.feedback-container {
    padding: 20px;
    background-color: bisque;
}