.footer {
    font-size: 0.85em;
    padding: 1em;
    margin-top: auto;

    background-color: black;
    color: #61dafb;
}

.footer p {
    max-width: 640px;
    @media (max-width: 768px) {
        max-width: 400px;
    }
    margin: auto;
}

.footer .quote {
    color: antiquewhite;
}