/* src/App.module.css */
html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #61dafb;

  font-family: 'Merryweather', serif;
  line-height: 1.6;  
  font-size: 1.5em;  
  color: #333;  
}

h1 {
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app h1 {
  padding-left: 20px;
  padding-right: 20px;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust the space between the menu items */
  font-size: 18px;
}

.main-menu span {
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-menu span:hover {
  background-color: #f0f0f0; /* Light hover background */
  color: #007bff; /* Hover text color */
}