/* src/App.module.css */
html, body {
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

body {
  background-color: #61dafb;
  font-family: 'Merryweather', serif;
  line-height: 1.6;  
  color: #333;  
  background-color: bisque;
}

h1 {
  text-align: center;
  @media (max-width: 768px) {
    font-size: 1em;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app > .verse-container {
  flex-grow: 1; /* Take up remaining space */
  display: flex; /* Ensures alignment works */
  flex-direction: column; /* Stack content inside */
  align-items: flex-start; /* Align content to the left (default) */
  justify-content: flex-start; /* Align content to the top */
  overflow: auto; /* Prevents content from overflowing */
}

.app h1 {
  padding-left: 20px;
  padding-right: 20px;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust the space between the menu items */
  font-size: 18px;
}

.main-menu span {
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-menu span:hover {
  background-color: #f0f0f0; /* Light hover background */
  color: #007bff; /* Hover text color */
}