.verse-container {

    width: 100%;

    align-items: center; /* Center align the content horizontally */
    
    margin: 0 auto;
    padding: 20px;
}

.verse {
    max-width: 640px;
    width: 100%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    margin-top: 1em;
}

/* Pagination Buttons */
/* Button container for navigation buttons */
.verse-container .button-container {
  position: fixed;
  bottom: 20px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  max-width: 820px;
  margin: auto;
}

/* Button styling */
.verse-container .button-container  button {
  font-size: 2.5em;
  background: none; /* Removes background */
  border: none; /* Removes border */
  box-shadow: none; /* Removes shadow */
  cursor: pointer;
  transition: transform 0.2s ease, text-shadow 0.2s ease;
  text-align: center;
}

.verse-container .button-container button.prev {
  margin-right: auto;
}

.verse-container .button-container button.next {
  margin-left: auto;
}